<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OpenAIApiKey" value="YOUR_API_KEY_HERE" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="1048576" />
  </system.web>
</configuration>
